@charset "UTF-8";       
       
body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: darkblue;
    font-size: 1.5em;
        }
h2 {
    color: darkred;
    font-size: 1.2em;
    background-color: goldenrod;
        }
p {
    text-align: justify;
}