@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #F2E6DF,#D9965B);
}

main {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
}

h1 {
    color: #BF500F;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(84, 35, 6, 0.476);

}

h2 {
    color: #025951;

}

p {
    text-align: justify;
}